* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.textFeatures {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div>img {
  height: 85vh;
}

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}
.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-1 img {

  width: 100%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.3s;
}

.hover-1-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
}

.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
}

.hover-1:hover .hover-1-content {
  
  bottom: 2rem;
}

.hover-1:hover .hover-1-description {
  opacity: 1;
  
  transform: none;
}

.hover-1:hover img {
  left: 0;
}
.navbar-primary .navbar-nav .nav-link.active, .navbar-primary .navbar-nav .show>.nav-link {
  color: rgb(0, 0, 185);
  background-color: #c7dbfbeb;
}

div>.accordion img{
  width: 100%;
  height: 50%;
}